[submodule "source/External/GLFW"]
	path = source/External/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "source/External/stb"]
	path = source/External/stb
	url = https://github.com/nothings/stb.git
[submodule "source/External/GLM"]
	path = source/External/GLM
	url = https://github.com/g-truc/glm.git
[submodule "source/External/ImGui"]
	path = source/External/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "source/External/ASSIMP"]
	path = source/External/ASSIMP
	url = https://github.com/assimp/assimp.git
[submodule "source/External/GLAD"]
	path = source/External/GLAD
	url = https://github.com/kieranvs/GLAD.git
[submodule "source/External/ImGuizmo"]
	path = source/External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "source/External/Tracy"]
	path = source/External/Tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "source/External/JoltPhysics"]
	path = source/External/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
