[submodule "source/External/GLFW"]
	path = source/External/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "source/External/spdlog"]
	path = source/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "source/External/GLAD2"]
	path = source/External/GLAD2
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
[submodule "source/External/stb"]
	path = source/External/stb
	url = https://github.com/nothings/stb.git
[submodule "source/External/GLM"]
	path = source/External/GLM
	url = https://github.com/g-truc/glm.git
[submodule "source/external/ImGui"]
	path = source/external/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
